@import '../../styles/variables.scss';

.thumbnail {
  display: block;
  margin: 30px 0px;
  padding: 0 20px 0 20px;
  box-shadow: none;
  transition: text-shadow 0.3s, opacity 0.4s;
  opacity: 0;
  border: 1px solid #6a84f8;
  border-radius: 10px;

  p {
    font-size: 90%;
    line-height: 1.4;
    margin-top: 5px;
  }
}

.thumbnail:hover {
  border: 1px solid #733cf5;
}

.thumbnail.visible {
  opacity: 1;
}
